html {
  background-color: lightblue;
}

header {
  margin: 0px;
  padding: 0px;
  font-size: 35px;
  color: darkblue;
  font-family: sans-serif;
  text-align: center;
}

#images {
  display: flex;
  justify-content: space-around;
}

#submit {
  margin: 15px;
  border-radius: 10px;
  font-size: 15px;
}

#table {
  text-align: center;
  font-size: 18px;
}

.image {
  width: 450px;
  height: 450px;
}
